body{
    background-color: black;
    color: #e90000;
}
h2{
    text-align: center;
    font-size: 30px;
}
.filme{
    text-align: center;
}
.cartaz{width: 200px;
height: 170px;}


.filme-todos{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.containerbotao{
    background-color: green;
    color: aliceblue;
    font-size: 30px;
    border-radius: 8px;
}
.botao{
    text-align: center;
}